body {
    font-family: 'Avenir', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e2a38;
    color: #ecf0f1;
}

header {
    background-color: #3b5b75;
    padding: 10px;
    font-family: "Poppins";
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-left: 10px;
}


header p {
    color: #d0e8ff;
    font-size: 20px;
    margin-right: 10px;
}

.logo{
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.container {
    display: flex;
}

aside {
    width: 20%;
    background-color: #2b3c4d;
    padding: 20px;
}

aside h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #c2d1e1;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    padding: 10px;
    cursor: pointer;
    color: #b0c6de;
}

aside ul li.active {
    background-color: #1e88e5;
    color: #ffffff;
}

main {
    width: 80%;
    padding: 20px;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    max-width: 400px;
    margin: auto;
}

.calculator-grid input[type="text"] {
    grid-column: span 4;
    height: 60px;
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    color: #333333;
}

.calculator-grid button {
    padding: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #508bc5;
    color: #ffffff;
}

.calculator-grid button:hover {
    background-color: #75a9d8;
}

.calculator-grid button:active {
    background-color: #5c97d4;
}

.calculator-grid button.special {
    background-color: #42a5f5;
    color: #ffffff;
}

.calculator-grid button.equal {
    background-color: #1565c0;
    color: #ffffff;
    grid-column: span 2;
}

.calculator-grid button.special:hover {
    background-color: #1e88e5;
}

.calculator-grid button.equal:hover {
    background-color: #0d47a1;
}

#math-result, #bmi-result, #gpa-result, #mean-result, #age-result, #time-result, #length-result, #weight-result, #area-result, #temperature-result{
    margin-top: 50px;
    font-size: 20px;
    color: #ffffff;
}

.calculator {
    display: none;
}

.calculator.active {
    display: block;
}

.calculator input, .calculator select, .calculator button{
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#bmi-weight, #bmi-height, #mean-input, #age-dob, #age-date, #length-value, #weight-value, #area-value, #temperature-value{
    width: 87.8%;
}

#time-hours, #time-minutes, #time-seconds {
    display: inline-block;
    width: 27.5%;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #16222b;
}

footer a {
    margin-right: 30px;
    text-decoration: none;
    color: #d0e8ff;
}


.hover-line {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

.hover-line::after {
    content: '';
    position: absolute;
    bottom: -5px;  
    left: 100%;
    width: 0;
    height: 2px;
    background-color: #d0e8ff;
    transition: all 0.3s ease;
}

.hover-line:hover::after {
    left: 0;
    width: 100%;
}

